:root {
  --material-themewhite: rgba(255, 255, 255, 1);
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-theme-sys-light-primary: rgba(184, 137, 14, 1);
  --material-theme-sys-light-on-primary: rgba(255, 255, 255, 1);
  --material-theme-sys-light-primary-container: rgba(255, 222, 161, 1);
  --material-theme-sys-light-on-primary-container: rgba(38, 25, 0, 1);
  --material-theme-sys-light-secondary: rgba(108, 92, 63, 1);
  --material-theme-sys-light-on-secondary: rgba(255, 255, 255, 1);
  --material-theme-sys-light-secondary-container: rgba(246, 224, 187, 1);
  --material-theme-sys-light-on-secondary-container: rgba(36, 26, 4, 1);
  --material-theme-sys-light-tertiary: rgba(75, 101, 70, 1);
  --material-theme-sys-light-on-tertiary: rgba(255, 255, 255, 1);
  --material-theme-sys-light-tertiary-container: rgba(205, 235, 195, 1);
  --material-theme-sys-light-on-tertiary-container: rgba(8, 32, 8, 1);
  --material-theme-sys-light-error: rgba(186, 26, 26, 1);
  --material-theme-sys-light-on-error: rgba(255, 255, 255, 1);
  --material-theme-sys-light-error-container: rgba(255, 218, 214, 1);
  --material-theme-sys-light-on-error-container: rgba(65, 0, 2, 1);
  --material-theme-sys-light-outline: rgba(127, 118, 103, 1);
  --material-theme-sys-light-background: rgba(255, 255, 255, 1);
  --material-theme-sys-light-on-background: rgba(30, 27, 22, 1);
  --material-theme-sys-light-surface: rgba(255, 255, 255, 1);
  --material-theme-sys-light-on-surface: rgba(30, 27, 22, 1);
  --material-theme-sys-light-surface-variant: rgba(237, 225, 207, 1);
  --material-theme-sys-light-on-surface-variant: rgba(77, 70, 57, 1);
  --material-theme-sys-light-inverse-surface: rgba(52, 48, 42, 1);
  --material-theme-sys-light-inverse-on-surface: rgba(248, 239, 231, 1);
  --material-theme-sys-light-inverse-primary: rgba(244, 190, 72, 1);
  --material-theme-sys-light-shadow: rgba(0, 0, 0, 1);
  --material-theme-sys-light-surface-tint: rgba(122, 89, 0, 1);
  --material-theme-sys-light-outline-variant: rgba(209, 197, 180, 1);
  --material-theme-sys-light-scrim: rgba(0, 0, 0, 1);
  --material-theme-sys-light-surface-0: rgba(255, 255, 255, 1);
  --material-theme-sys-light-surface-5: rgba(242, 242, 242, 1);
  --material-theme-sys-light-surface-8: rgba(235, 235, 235, 1);
  --material-theme-sys-light-surface-11: rgba(227, 227, 227, 1);
  --material-theme-sys-light-surface-12: rgba(224, 224, 224, 1);
  --material-theme-sys-light-surface-14: rgba(219, 219, 219, 1);
  --material-theme-sys-dark-primary: rgba(244, 190, 72, 1);
  --material-theme-sys-dark-on-primary: rgba(64, 45, 0, 1);
  --material-theme-sys-dark-primary-container: rgba(92, 66, 0, 1);
  --material-theme-sys-dark-on-primary-container: rgba(255, 222, 161, 1);
  --material-theme-sys-dark-secondary: rgba(216, 196, 160, 1);
  --material-theme-sys-dark-on-secondary: rgba(59, 47, 21, 1);
  --material-theme-sys-dark-secondary-container: rgba(83, 69, 42, 1);
  --material-theme-sys-dark-on-secondary-container: rgba(246, 224, 187, 1);
  --material-theme-sys-dark-tertiary: rgba(177, 207, 168, 1);
  --material-theme-sys-dark-on-tertiary: rgba(30, 54, 27, 1);
  --material-theme-sys-dark-tertiary-container: rgba(52, 77, 48, 1);
  --material-theme-sys-dark-on-tertiary-container: rgba(205, 235, 195, 1);
  --material-theme-sys-dark-error: rgba(255, 180, 171, 1);
  --material-theme-sys-dark-on-error: rgba(105, 0, 5, 1);
  --material-theme-sys-dark-error-container: rgba(147, 0, 10, 1);
  --material-theme-sys-dark-on-error-container: rgba(255, 218, 214, 1);
  --material-theme-sys-dark-outline: rgba(153, 143, 128, 1);
  --material-theme-sys-dark-background: rgba(30, 27, 22, 1);
  --material-theme-sys-dark-on-background: rgba(233, 225, 217, 1);
  --material-theme-sys-dark-surface: rgba(30, 27, 22, 1);
  --material-theme-sys-dark-on-surface: rgba(205, 197, 189, 1);
  --material-theme-sys-dark-surface-variant: rgba(77, 70, 57, 1);
  --material-theme-sys-dark-on-surface-variant: rgba(209, 197, 180, 1);
  --material-theme-sys-dark-inverse-surface: rgba(233, 225, 217, 1);
  --material-theme-sys-dark-inverse-on-surface: rgba(30, 27, 22, 1);
  --material-theme-sys-dark-inverse-primary: rgba(122, 89, 0, 1);
  --material-theme-sys-dark-shadow: rgba(0, 0, 0, 1);
  --material-theme-sys-dark-surface-tint: rgba(244, 190, 72, 1);
  --material-theme-sys-dark-outline-variant: rgba(77, 70, 57, 1);
  --material-theme-sys-dark-scrim: rgba(0, 0, 0, 1);
  --material-theme-ref-primary-primary-0: rgba(0, 0, 0, 1);
  --material-theme-ref-primary-primary-10: rgba(38, 25, 0, 1);
  --material-theme-ref-primary-primary-20: rgba(64, 45, 0, 1);
  --material-theme-ref-primary-primary-30: rgba(92, 66, 0, 1);
  --material-theme-ref-primary-primary-40: rgba(122, 89, 0, 1);
  --material-theme-ref-primary-primary-50: rgba(153, 112, 0, 1);
  --material-theme-ref-primary-primary-60: rgba(184, 137, 14, 1);
  --material-theme-ref-primary-primary-70: rgba(214, 163, 46, 1);
  --material-theme-ref-primary-primary-80: rgba(244, 190, 72, 1);
  --material-theme-ref-primary-primary-90: rgba(255, 222, 161, 1);
  --material-theme-ref-primary-primary-95: rgba(255, 239, 213, 1);
  --material-theme-ref-primary-primary-99: rgba(255, 247, 234, 1);
  --material-theme-ref-primary-primary-100: rgba(255, 255, 255, 1);
  --material-theme-ref-primary-primary-5: rgba(25, 15, 0, 1);
  --material-theme-ref-primary-primary-25: rgba(78, 56, 0, 1);
  --material-theme-ref-primary-primary-35: rgba(107, 78, 0, 1);
  --material-theme-ref-primary-primary-98: rgba(255, 248, 242, 1);
  --material-theme-ref-secondarysecondary0: rgba(0, 0, 0, 1);
  --material-theme-ref-secondarysecondary10: rgba(36, 26, 4, 1);
  --material-theme-ref-secondarysecondary20: rgba(59, 47, 21, 1);
  --material-theme-ref-secondarysecondary30: rgba(83, 69, 42, 1);
  --material-theme-ref-secondarysecondary40: rgba(108, 92, 63, 1);
  --material-theme-ref-secondarysecondary50: rgba(134, 117, 86, 1);
  --material-theme-ref-secondarysecondary60: rgba(160, 142, 110, 1);
  --material-theme-ref-secondarysecondary70: rgba(188, 169, 135, 1);
  --material-theme-ref-secondarysecondary80: rgba(216, 196, 160, 1);
  --material-theme-ref-secondarysecondary90: rgba(246, 224, 187, 1);
  --material-theme-ref-secondarysecondary95: rgba(255, 239, 213, 1);
  --material-theme-ref-secondarysecondary99: rgba(255, 247, 234, 1);
  --material-theme-ref-secondarysecondary100: rgba(255, 255, 255, 1);
  --material-theme-ref-secondarysecondary5: rgba(25, 15, 0, 1);
  --material-theme-ref-secondarysecondary25: rgba(71, 58, 31, 1);
  --material-theme-ref-secondarysecondary35: rgba(95, 80, 52, 1);
  --material-theme-ref-secondarysecondary98: rgba(255, 248, 242, 1);
  --material-theme-ref-tertiarytertiary0: rgba(0, 0, 0, 1);
  --material-theme-ref-tertiarytertiary10: rgba(8, 32, 8, 1);
  --material-theme-ref-tertiarytertiary20: rgba(30, 54, 27, 1);
  --material-theme-ref-tertiarytertiary30: rgba(52, 77, 48, 1);
  --material-theme-ref-tertiarytertiary40: rgba(75, 101, 70, 1);
  --material-theme-ref-tertiarytertiary50: rgba(99, 126, 93, 1);
  --material-theme-ref-tertiarytertiary60: rgba(124, 152, 117, 1);
  --material-theme-ref-tertiarytertiary70: rgba(150, 179, 142, 1);
  --material-theme-ref-tertiarytertiary80: rgba(177, 207, 168, 1);
  --material-theme-ref-tertiarytertiary90: rgba(205, 235, 195, 1);
  --material-theme-ref-tertiarytertiary95: rgba(219, 249, 209, 1);
  --material-theme-ref-tertiarytertiary99: rgba(246, 255, 239, 1);
  --material-theme-ref-tertiarytertiary100: rgba(255, 255, 255, 1);
  --material-theme-ref-tertiarytertiary5: rgba(1, 21, 2, 1);
  --material-theme-ref-tertiarytertiary25: rgba(41, 65, 37, 1);
  --material-theme-ref-tertiarytertiary35: rgba(63, 89, 59, 1);
  --material-theme-ref-tertiarytertiary98: rgba(236, 255, 227, 1);
  --material-theme-ref-errorerror0: rgba(0, 0, 0, 1);
  --material-theme-ref-errorerror10: rgba(65, 0, 2, 1);
  --material-theme-ref-errorerror20: rgba(105, 0, 5, 1);
  --material-theme-ref-errorerror30: rgba(147, 0, 10, 1);
  --material-theme-ref-errorerror40: rgba(186, 26, 26, 1);
  --material-theme-ref-errorerror50: rgba(222, 55, 48, 1);
  --material-theme-ref-errorerror60: rgba(255, 84, 73, 1);
  --material-theme-ref-errorerror70: rgba(255, 137, 125, 1);
  --material-theme-ref-errorerror80: rgba(255, 180, 171, 1);
  --material-theme-ref-errorerror90: rgba(255, 218, 214, 1);
  --material-theme-ref-errorerror95: rgba(255, 237, 234, 1);
  --material-theme-ref-errorerror99: rgba(255, 246, 244, 1);
  --material-theme-ref-errorerror100: rgba(255, 255, 255, 1);
  --material-theme-ref-errorerror5: rgba(45, 0, 1, 1);
  --material-theme-ref-errorerror25: rgba(126, 0, 7, 1);
  --material-theme-ref-errorerror35: rgba(168, 7, 16, 1);
  --material-theme-ref-errorerror98: rgba(255, 248, 247, 1);
  --material-theme-ref-neutralneutral0: rgba(0, 0, 0, 1);
  --material-theme-ref-neutralneutral10: rgba(30, 27, 22, 1);
  --material-theme-ref-neutralneutral20: rgba(52, 48, 42, 1);
  --material-theme-ref-neutralneutral30: rgba(74, 70, 64, 1);
  --material-theme-ref-neutralneutral40: rgba(99, 94, 87, 1);
  --material-theme-ref-neutralneutral50: rgba(124, 118, 111, 1);
  --material-theme-ref-neutralneutral60: rgba(150, 144, 136, 1);
  --material-theme-ref-neutralneutral70: rgba(177, 170, 162, 1);
  --material-theme-ref-neutralneutral80: rgba(205, 197, 189, 1);
  --material-theme-ref-neutralneutral90: rgba(233, 225, 217, 1);
  --material-theme-ref-neutralneutral95: rgba(248, 239, 231, 1);
  --material-theme-ref-neutralneutral99: rgba(252, 247, 243, 1);
  --material-theme-ref-neutralneutral100: rgba(255, 255, 255, 1);
  --material-theme-ref-neutralneutral5: rgba(19, 17, 12, 1);
  --material-theme-ref-neutralneutral25: rgba(63, 59, 53, 1);
  --material-theme-ref-neutralneutral35: rgba(86, 82, 75, 1);
  --material-theme-ref-neutralneutral98: rgba(255, 248, 242, 1);
  --material-theme-ref-neutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-theme-ref-neutral-variantneutral-variant10: rgba(33, 27, 16, 1);
  --material-theme-ref-neutral-variantneutral-variant20: rgba(54, 48, 36, 1);
  --material-theme-ref-neutral-variantneutral-variant30: rgba(77, 70, 57, 1);
  --material-theme-ref-neutral-variantneutral-variant40: rgba(102, 93, 79, 1);
  --material-theme-ref-neutral-variantneutral-variant50: rgba(127, 118, 103, 1);
  --material-theme-ref-neutral-variantneutral-variant60: rgba(153, 143, 128, 1);
  --material-theme-ref-neutral-variantneutral-variant70: rgba(181, 170, 153, 1);
  --material-theme-ref-neutral-variantneutral-variant80: rgba(209, 197, 180, 1);
  --material-theme-ref-neutral-variantneutral-variant90: rgba(237, 225, 207, 1);
  --material-theme-ref-neutral-variantneutral-variant95: rgba(252, 239, 221, 1);
  --material-theme-ref-neutral-variantneutral-variant99: rgba(254, 247, 238, 1);
  --material-theme-ref-neutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-theme-ref-neutral-variantneutral-variant5: rgba(21, 16, 6, 1);
  --material-theme-ref-neutral-variantneutral-variant25: rgba(66, 58, 46, 1);
  --material-theme-ref-neutral-variantneutral-variant35: rgba(89, 81, 68, 1);
  --material-theme-ref-neutral-variantneutral-variant98: rgba(255, 248, 242, 1);
  --material-theme-key-colorsprimary: rgba(184, 137, 14, 1);
  --material-theme-sourceseed: rgba(184, 137, 14, 1);
  --material-theme-surfaceslightsurface1: rgba(255, 251, 255, 1);
  --material-theme-surfaceslightsurface2: rgba(255, 251, 255, 1);
  --material-theme-surfaceslightsurface3: rgba(255, 251, 255, 1);
  --material-theme-surfaceslightsurface4: rgba(255, 251, 255, 1);
  --material-theme-surfaceslightsurface5: rgba(255, 251, 255, 1);
  --material-theme-surfacesdarksurface1: rgba(30, 27, 22, 1);
  --material-theme-surfacesdarksurface2: rgba(30, 27, 22, 1);
  --material-theme-surfacesdarksurface3: rgba(30, 27, 22, 1);
  --material-theme-surfacesdarksurface4: rgba(30, 27, 22, 1);
  --material-theme-surfacesdarksurface5: rgba(30, 27, 22, 1);
  --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-size: 3.5625rem;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-size: 2.8125rem;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-size: 2.25rem;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-size: 2rem;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-size: 1.75rem;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-size: 1.5rem;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-size: 1.375rem;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-size: 1rem;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-size: 0.875rem;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-size: 1rem;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-size: 0.875rem;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-size: 0.75rem;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-size: 0.875rem;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-size: 0.75rem;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-size: 0.6875rem;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-style: normal;
  --noto-sans-TC-20r-font-family: "NotoSans TC-Regular", Helvetica;
  --noto-sans-TC-20r-font-weight: 400;
  --noto-sans-TC-20r-font-size: 1.25rem;
  --noto-sans-TC-20r-letter-spacing: 2px;
  --noto-sans-TC-20r-line-height: 28px;
  --noto-sans-TC-20r-font-style: normal;
  --noto-sans-TC-16r-font-family: "NotoSans TC-Regular", Helvetica;
  --noto-sans-TC-16r-font-weight: 400;
  --noto-sans-TC-16r-font-size: 1rem;
  --noto-sans-TC-16r-letter-spacing: 5px;
  --noto-sans-TC-16r-line-height: 24px;
  --noto-sans-TC-16r-font-style: normal;
  --noto-sans-TC-14r-font-family: "NotoSans TC-Regular", Helvetica;
  --noto-sans-TC-14r-font-weight: 400;
  --noto-sans-TC-14r-font-size: 0.875rem;
  --noto-sans-TC-14r-letter-spacing: 3px;
  --noto-sans-TC-14r-line-height: 20px;
  --noto-sans-TC-14r-font-style: normal;
  --noto-sans-TC-20m-font-family: "NotoSans TC-Medium", Helvetica;
  --noto-sans-TC-20m-font-weight: 500;
  --noto-sans-TC-20m-font-size: 1.25rem;
  --noto-sans-TC-20m-letter-spacing: 1px;
  --noto-sans-TC-20m-line-height: 28px;
  --noto-sans-TC-20m-font-style: normal;
  --noto-sans-TC-16m-font-family: "NotoSans TC-Medium", Helvetica;
  --noto-sans-TC-16m-font-weight: 500;
  --noto-sans-TC-16m-font-size: 1rem;
  --noto-sans-TC-16m-letter-spacing: 1px;
  --noto-sans-TC-16m-line-height: 24px;
  --noto-sans-TC-16m-font-style: normal;
  --noto-sans-TC-18r-font-family: "NotoSans TC-Regular", Helvetica;
  --noto-sans-TC-18r-font-weight: 400;
  --noto-sans-TC-18r-font-size: 1.125rem;
  --noto-sans-TC-18r-letter-spacing: 1px;
  --noto-sans-TC-18r-line-height: 26px;
  --noto-sans-TC-18r-font-style: normal;
  --kong-headline02-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-headline02-font-weight: 400;
  --kong-headline02-font-size: 2rem;
  --kong-headline02-letter-spacing: 3px;
  --kong-headline02-line-height: 48px;
  --kong-headline02-font-style: normal;
  --kong-headline03-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-headline03-font-weight: 500;
  --kong-headline03-font-size: 1.5rem;
  --kong-headline03-letter-spacing: 1px;
  --kong-headline03-line-height: 36px;
  --kong-headline03-font-style: normal;
  --kong-subtitle01-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-subtitle01-font-weight: 500;
  --kong-subtitle01-font-size: 1.25rem;
  --kong-subtitle01-letter-spacing: 3px;
  --kong-subtitle01-line-height: 30px;
  --kong-subtitle01-font-style: normal;
  --kong-subtitle02-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-subtitle02-font-weight: 500;
  --kong-subtitle02-font-size: 1.125rem;
  --kong-subtitle02-letter-spacing: 2px;
  --kong-subtitle02-line-height: 26px;
  --kong-subtitle02-font-style: normal;
  --kong-subtitle03-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-subtitle03-font-weight: 400;
  --kong-subtitle03-font-size: 1.125rem;
  --kong-subtitle03-letter-spacing: 2px;
  --kong-subtitle03-line-height: 26px;
  --kong-subtitle03-font-style: normal;
  --kong-body01-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-body01-font-weight: 500;
  --kong-body01-font-size: 1.125rem;
  --kong-body01-letter-spacing: 4px;
  --kong-body01-line-height: 36px;
  --kong-body01-font-style: normal;
  --kong-body03-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-body03-font-weight: 500;
  --kong-body03-font-size: 1rem;
  --kong-body03-letter-spacing: 2px;
  --kong-body03-line-height: 32px;
  --kong-body03-font-style: normal;
  --kong-body04-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-body04-font-weight: 400;
  --kong-body04-font-size: 1rem;
  --kong-body04-letter-spacing: 2px;
  --kong-body04-line-height: 32px;
  --kong-body04-font-style: normal;
  --kong-caption01-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-caption01-font-weight: 500;
  --kong-caption01-font-size: 1rem;
  --kong-caption01-letter-spacing: 1px;
  --kong-caption01-line-height: 24px;
  --kong-caption01-font-style: normal;
  --kong-caption02-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-caption02-font-weight: 400;
  --kong-caption02-font-size: 1rem;
  --kong-caption02-letter-spacing: 2px;
  --kong-caption02-line-height: 24px;
  --kong-caption02-font-style: normal;
  --kong-overline01-font-family: "Roboto-Regular", Helvetica;
  --kong-overline01-font-weight: 400;
  --kong-overline01-font-size: 1.125rem;
  --kong-overline01-letter-spacing: 1px;
  --kong-overline01-line-height: 26px;
  --kong-overline01-font-style: normal;
  --kong-button02-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-button02-font-weight: 500;
  --kong-button02-font-size: 1.25rem;
  --kong-button02-letter-spacing: 3px;
  --kong-button02-line-height: 30px;
  --kong-button02-font-style: normal;
  --kong-button03-font-family: "NotoSans TC-Medium", Helvetica;
  --kong-button03-font-weight: 500;
  --kong-button03-font-size: 1.125rem;
  --kong-button03-letter-spacing: 10px;
  --kong-button03-line-height: 26px;
  --kong-button03-font-style: normal;
  --kong-button04-font-family: "Roboto-Regular", Helvetica;
  --kong-button04-font-weight: 400;
  --kong-button04-font-size: 1.125rem;
  --kong-button04-letter-spacing: 1px;
  --kong-button04-line-height: 26px;
  --kong-button04-font-style: normal;
  --kong-body02-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-body02-font-weight: 400;
  --kong-body02-font-size: 1.125rem;
  --kong-body02-letter-spacing: 4px;
  --kong-body02-line-height: 36px;
  --kong-body02-font-style: normal;
  --kong-caption03-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-caption03-font-weight: 400;
  --kong-caption03-font-size: 0.75rem;
  --kong-caption03-letter-spacing: 1px;
  --kong-caption03-line-height: 16px;
  --kong-caption03-font-style: normal;
  --kong-name01-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-name01-font-weight: 400;
  --kong-name01-font-size: 1.5rem;
  --kong-name01-letter-spacing: 1px;
  --kong-name01-line-height: 32px;
  --kong-name01-font-style: normal;
  --kong-button05-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-button05-font-weight: 400;
  --kong-button05-font-size: 1rem;
  --kong-button05-letter-spacing: 1px;
  --kong-button05-line-height: 24px;
  --kong-button05-font-style: normal;
  --kong-headline04-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-headline04-font-weight: 400;
  --kong-headline04-font-size: 1.25rem;
  --kong-headline04-letter-spacing: 2px;
  --kong-headline04-line-height: 30px;
  --kong-headline04-font-style: normal;
  --kong-button01-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-button01-font-weight: 400;
  --kong-button01-font-size: 2rem;
  --kong-button01-letter-spacing: 1px;
  --kong-button01-line-height: 48px;
  --kong-button01-font-style: normal;
  --kong-headline01-font-family: "NotoSans TC-Regular", Helvetica;
  --kong-headline01-font-weight: 400;
  --kong-headline01-font-size: 2.25rem;
  --kong-headline01-letter-spacing: 3px;
  --kong-headline01-line-height: 54px;
  --kong-headline01-font-style: normal;
}
